*{
    margin: 0;
}
header{
    position: fixed;
    height: 35px;
    width: 100%;
    background-color: black;
}
.header-text{
    color: white;
}
footer{
    color: white;
    height: 50px;
    width: 100%;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: orange;
}
main{
    padding-top: 35px;
    height: 1000px;
}